body {
    background: #000000;
    color: #00ff41; /* verde terminal */
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 20px;
}

.terminal {
    max-width: 900px;
    margin: auto;
}

.title-red {
    color: #ff3131; /* rojo alerta */
}

ul li {
    color: #00ff41;
}

a {
    color: #00ff41;
    text-decoration: underline;
}

a:hover {
    color: #ff3131;
}

.buttons {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: inline-block;
    border: 1px solid #ff3131;
    padding: 10px;
    text-decoration: none;
    color: #00ff41;
    border-radius: 5px;
    width: fit-content;
}

.btn:hover {
    background: #1a0000;
    color: #ff3131;
}

.code {
    background: #001100;
    padding: 10px;
    border-left: 3px solid #ff3131;
}

.cursor {
    font-weight: bold;
    color: #00ff41;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}
